/* Reset and Base Styles */
body {
    background-color: #0A0522;
    font-family: 'SF-Pro', sans-serif;
    font-weight: 400;
    color: #DECAFF;
    margin: 0;
}
p,a {
    font-family: 'SF-Pro', sans-serif;
    font-weight: 400;
    color: #DECAFF;

}

.gap {
    height: 3vh;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: rgba(47, 38, 81, 0.70);
    backdrop-filter: blur(2px);
    padding: 0 40px;
}

.header .a {
    color: #DECAFF;
    font-family: "SF-Pro", sans-serif;
    font-size: clamp(20px, 1.5vw, 100px);
    font-weight: 600;
    line-height: normal;
}

.header div {
    width: 162px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(132, 102, 168, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Bootstrap header fixes*/


.navbar-brand:hover {
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.navbar-nav .nav-link:hover {
    color: #FFFFFF;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

/* Common Components */
.dl {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Hero Section */
.hero {
    height: auto;
    min-height: 10px;
    width: 89%;
    background-color: rgba(75, 63, 117, 0.70);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 20px;
    margin: auto;
}

.hero h2 {
    text-align: center;
}

.phones {
    height: 60vh;
}

.slogan h1 {
    font-size: 60px;
}

.slogan p1 {
    font-size: medium;
}

/* Hero 2 Section */
.hero2 {
    margin: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero2 h1 {
    margin: auto;
    height: 10vh;
    width: auto;
    text-align: center;
    font-size: 5.2vh;
}

/* Panel 3 Section */
.panel3 {
    height: auto;
    min-height: 10px;
    width: auto;
    background-color: rgba(75, 63, 117, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 40px;
    margin: auto;
}

.panel3phone {
    height: 60vh;
    padding: 10px;
}

.panel3 h2 {
    font-size: 5.2vh;
}
.panel3 img {
    max-width: 40%;
    padding: 20px
}
/* Panel 4 Section */
.panel4 {
    height: 60vh;
    background-color: rgba(47, 38, 81, 0.70);
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    z-index: -1;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.panel4 h1 {
    margin: 0;
    line-height: 1.4;
    word-wrap: break-word;
    padding-right: 10vw;
    text-align: center;
    font-size: 5.2vh;
}

.vinyl-container {
    display: flex;
    flex-direction: column;
}

.vinyl {
    height: 40vh;
    margin-left: 5px;
    flex-shrink: 0;
}

.vinyl-buttons {
    margin: auto;
    height: auto;
    width: 15vw;
}

/* Panel 5 Section */
.panel5 {
    background-color: rgba(10, 5, 34, 1);
    height: 60vh;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
}

.panel5 h1 {
    text-align: center;
}

.panel5 img {
    height: 60vh;
}

/* Panel 6 Section */
.panel6 {
    background-color: rgb(91, 76, 168);
    height: 80vh;
    position: relative;
    top: -10vh;
    z-index: -1;
}

/* Pricing Section */
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.title {
    color: #DECAFF;
    font-family: 'SF-Pro', sans-serif;
    font-weight: 900;
    padding:50px
}

.pricing-table {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
}

.pricing-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 13, 45, 0.7);
    padding: 10px;
    border-radius: 20px;
    flex: 1;
    max-width: 400px;
    min-width: 50px;
    height: auto;
}

.hidden-column {
    margin-top: calc(120px + 2rem);
    padding-top: 23px;
}

.hidden-column p {
    font-family: 'SF-Pro', sans-serif;
}

.accent-color {
    background-color: #4B3F75;
}

.pricing-inside-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 0.5rem;
}

.pricing-line {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #DECAFF;
    margin: 1rem auto;
    opacity: 0.5;
}

/* Typography */
.pricing-title {
    font-family: 'SF-Pro', sans-serif;
    font-weight: 600;
}

.pricing-text {
    font-family: 'SF-Pro', sans-serif;
    font-weight: normal;
    text-align: center;
}


.text-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}
.pos { /* Thats bold for pricing table */
    font-weight: 600;
}

/* Buttons */
.pricing-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(132, 102, 168, 0.70);
    font-family: 'SF-Pro', sans-serif;
    font-weight: normal;
    font-size: 120%;
    color: #DECAFF;
    text-decoration: none;
}

.button-accent-color {
    background: rgba(19, 13, 45, 0.70);
}
.button-fixed-size {
    width: 150px;

}
.pricing-button:hover {
    color: white;
    text-decoration: none;
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 38, 81, 0.70);
    margin: 0;
    padding: 10px;
}

.footer p {
    text-align: center;
    color: white;
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    .hidden-column {
        display: none;
    }
    .header .a {
        font-size: 80%;
        font-weight: normal;
    }
}

@media screen and (max-width: 500px) {
    .pricing-table {
        display: inline;
    }
    .panel3 {
        flex-direction: column;
    }
    .panel3 img {
        max-width: 80%;
    }
}


