
.user-testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;                     
    margin: 2rem 0;              
}
  
.testimonial {
    background-color: #4c3b7c;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    min-height: 220px;
    text-align: center;
    transition: all 0.3s ease;
}
  

.testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
  
.testimonial .icon-name {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
.testimonial-icon {
    width: 40px;
    height: 40px;
    background-color: #2975ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
}
  
.testimonial strong {
    font-size: 1.1rem;
    font-weight: 600;
}
  
.testimonial p {
    margin-top: 0.5rem;
    line-height: 1.6;
    font-size: 1.5rem;
}
.text-market p {
    font-size: 50px;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: inherit;
}
.text-descriptionM {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
}
#financials-panel {
    background: linear-gradient(135deg, #4c3b7c 0%, #2f295a 100%);
    padding: 3rem 2rem;
    margin: .9rem auto;
    border-radius: 2rem;
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
  
#financials-panel .text-description {
    color: #DECAFF;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: inherit;
}
  
#financials-panel p.text-description strong {
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    font-family: inherit;
}
  
#financials-panel .pricing-button {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 1.2rem;
    transition: color 0.3s ease;
    font-family: inherit;
}
  
#financials-panel .pricing-button:hover {
    background-color: #5337A4;

}

.growth-chart-container {
    width: 100%;
    height: 700px;
    max-width: 1200px; 
    margin: 10px auto;
    padding: 30px;
    background-color: rgba(16, 11, 39, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
 
@media (max-width: 768px) {
    .growth-chart-container {
        height: 400px;
        padding: 20px 10px;
    }
}

@media (max-width: 768px) {
    .user-testimonials {
        grid-template-columns: 1fr;
        margin: 1rem 0;
    }
    .testimonial {
        padding: 1.5rem;
        min-height: auto; 
    }
    .testimonial p {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .testimonial-icon {
        width: 35px;
        height: 35px;
        margin-right: 0.5rem;
    }
}